.m-index{
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  #m-container {
    @include flex();
    width: 100%;
    position: relative;
    .homesearch{
      position: absolute;
      width: 100%;
      height:.44rem;
      padding: .07rem .12rem;
      // background: gray;
      left: 0;
      top: 0;
      z-index: 10;
      @include flexbox();
      i{
        display: block;
        width: .36rem;
        height: 100%;
        line-height: .3rem;
        font-size: 24px;
        color: #fff;
        padding-left: .05rem;
      }
      label{
        @include flex();
        @include flexbox();
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        background: rgba(245, 245, 245, 0.8);
        span{
          width: .34rem;
          height: 100%;
          line-height: .3rem;
          font-size: 18px;
          color: #c7c7c7;
          padding-left: .1rem;
        }
        input{
          @include flex();
          height: 100%;
          line-height: .3rem;
          padding-left: .05rem;
          border: none;
          background: none;
        }
      }
    }
    .seactive{
      background: #fff;
      i{
        color: #7d8287;
      }
      label{
        background: rgba(245, 245, 245, 1);
      }
    }
    .home{
      width: 100%;
      header{
        // position: relative;
        swiper-container{
          width: 100%;
        }
        img{
          width: 100%;
        }
      }
      section{
        width: 100%;
        background: #eff0f4;
        #home-nav{
          width: 100%;
          height: 1rem;
          @include flexbox();
          background: #fff;
          li {
            @include flex();
            @include flexbox();
            @include flex-direction(column);
            position: relative;
            b, i {
              display: block;
              text-align: center;
              @include flex();
              width: 100%;
            }
            b {
              color: #333;
              font-size: .12px;
              padding-top: 6px;
              font-weight: normal;
            }
            i {
              height: .42rem;
              padding: .15rem 0 .14rem;
              img{
                width: .42rem;
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
        .blank{
          width: 100%;
          height: .1rem;
        }
        #nav2{
          width: 100%;
          @include flexbox();
          .navinl{
            width: 50%;
            border-right: 1px solid #cecece;
            img{
              width: 100%;
            }
          }
          .navinr{
            width: 50%;
            @include flexbox();
            @include flex-direction(column);
            .navinn{
              width: 100%;
              height: 50%;
              img{
                width: 100%;
              }
              &:last-child{
                border-top: 1px solid #cecece;
              }
            }
          }
        }
        #sale{
          width: 100%;
          background: #fff;
          .tit{
            padding-left: .1rem;
            padding-bottom: .05rem;
            border-top: 1px solid #fe76a7;
            img{
              width: .9rem;
            }
          }
          .salein{
            width: 100%;
            img{
              width: 94%;
              display: block;
              margin: 0 auto;
            }
          }
        }
        #wine{
          width: 100%;
          background: #fff;
          .tit{
            padding-left: .1rem;
            padding-bottom: .05rem;
            border-top: 1px solid #7f42b3;
            img{
              width: .9rem;
            }
          }
          .winein{
            width: 100%;
            padding: .1rem .15rem;
            height: 1.6rem;
            @include flexbox();
            @include border(0 0 1px 0,#d7d7d7);
            i{
              display: block;
              width: 40%;
              height: 100%;
              @include flexbox();
              @include align-items(center);
              img{
                display: block;
                height: 100%;
                margin: 0 auto;
              }
            }
            dl{
              @include flex();
              padding: 0 .09rem;
              dt{
                height: .96rem;
                padding: .22rem 0 .1rem;
              }
              dd{
                i{
                  display: block;
                  width: 26px;
                  height: 26px;
                  background: url(/pinshanghui/images/icon_shopcar_empty_index.png) no-repeat center;
                  float: right;
                  background-size: cover;
                }
              }

            }
          }
        }

      }
    }
  }
  footer{
    height: .49rem;
    ul{
      width: 100%;
      height: 100%;
      @include flexbox();
      @include border(1px 0 0 0, #b2b2b2);
      background: #f5f5f5;
      li {
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        position: relative;
        &.active b,
        &.active i {
          color: $basecolor;
        }
        b, i {
          display: block;
          text-align: center;
          @include flex();
          width: 100%;
          color: #7d8287;
        }
        b {
          font-size: .12px;
          padding-top: 6px;
          font-weight: normal;
        }
        i {
          font-size: .24rem;
          height: .25rem;
        }
      }
    }
  }
}
