$basecolor: #d12b36;

@font-face {
  font-family: yofont;
  src: url("/pinshanghui/images/iconfont/iconfont.woff") format("woff"), url("/pinshanghui/images/iconfont/iconfont.ttf") format("truetype");
}
